<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="GuruETCEntities" connectionString="metadata=res://*/GuruETCModel.csdl|res://*/GuruETCModel.ssdl|res://*/GuruETCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=data2.realityengineering.net,2433;initial catalog=GuruETC;persist security info=True;user id=Owner_HowDoYouGuru;password=GrB216RV;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="GuruETCEntities" connectionString="metadata=res://*/GuruETCModel.csdl|res://*/GuruETCModel.ssdl|res://*/GuruETCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RI5-PC\SQLSRV;initial catalog=dbGuruETC;user id=sa;password=hello1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>