@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterSuccess</title>
</head>
<body>
    <div>
       <span>Registration Successfully!</span> 
    </div>
</body>
</html>
