@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authentication</title>
</head>
<body>
    <div>
        <span>Authentication Failed: Need to login to check your Risk factor.  <a href="javascript:void(0);" onclick="loadlogview();">click here to login</a> </span>
    </div>
</body>
</html>
