@model GuruETC.Data.QuestionManage.QResult

@{
    ViewBag.Title = "result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
#sidebar {
    float: right;
    width: 320px;
}
.widget {
    margin-bottom: 20px;
    margin-left: 20px;
}

dl, dt, dd {
    margin: 0;
    padding: 0;
}
#sidebar dl dt {
    color: #CC0000;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
}
dd {
    background: url("/images/bg_bar_short.gif") no-repeat scroll 0 0 transparent;
    height: 82px;
    position: relative;
    width: 295px;
}
dd span {
    background: url("/images/bar_short.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 22px;
    left: 9px;
    overflow: hidden;
    position: absolute;
    text-indent: -8000px;
    top: 40px;
    width: 245px;
}
dd em {
    background: url("/images/bg_cover.gif") repeat-x scroll 0 0 transparent;
    display: block;
    height: 25px;
    position: absolute;
    top: 0;
    width: 245px;
}
em {
    font-style: italic;
}

.warning-box {
    background: url("/images/warning_icon.png") no-repeat scroll 10px 15px #E2E2E2;
    border: 1px solid #CCECF1;
    color: #000000;
    width: 60%;
}
.download-box, .note-box, .warning-box, .info-box, .contact-box, .report-box {
    border-radius: 4px 4px 4px 4px;
    margin: 0 0 20px;
    padding: 20px 20px 20px 54px;
}

#main {
    display: inline;
    float: left;
    width: 632px;
}

</style>


<div id="main">
<div style="text-align:justify; box-shadow:3px 0 0 0 #E2E2E2;" class="entry">
          <div style="font-size: 30px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #28555B;">Guru Next Step?</div>
          <div style="border-bottom-color: #999; border-bottom-style: dotted; border-bottom-width: thin; font-size: 18px; font-style: italic; margin-top:7px;">
          
          Demo Text!
          
          </div>
       Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In posuere felis nec tortor. Pellentesque faucibus. Ut accumsan ultricies elit. Maecenas at justo id velit placerat molestie. Donec dictum lectus non odio. Cras a ante vitae enim iaculis aliquam. Mauris nunc quam, venenatis nec, euismod sit amet, egestas placerat, est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras id elit. Integer quis urna. Ut ante enim, dapibus malesuada, fringilla eu, condimentum quis, tellus. Aenean porttitor eros vel dolor. Donec convallis pede venenatis nibh. Duis quam. Nam eget lacus. Aliquam erat volutpat. Quisque dignissim congue leo.
Mauris vel lacus vitae felis vestibulum volutpat. Etiam est nunc, venenatis in, tristique eu, imperdiet ac, nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In iaculis facilisis massa. Etiam eu urna. Sed porta. Suspendisse quam leo, molestie sed, luctus quis, feugiat in, pede. Fusce tellus. Sed metus augue, convallis et, vehicula ut, pulvinar eu, ante. Integer orci tellus, tristique vitae, consequat nec, porta vel, lectus. Nulla sit amet diam. Duis non nunc. Nulla rhoncus dictum metus. Curabitur tristique mi condimentum orci. Phasellus pellentesque aliquam enim. Proin dui lectus, cursus eu, mattis laoreet, viverra sit amet, quam. Curabitur vel dolor ultrices ipsum dictum tristique. Praesent vitae lacus. Ut velit enim, vestibulum non, fermentum nec, hendrerit quis, leo. Pellentesque rutrum malesuada neque.
     <br />
     Phasellus felis dolor, scelerisque a, tempus eget, lobortis id, libero. Donec scelerisque leo ac risus. Praesent sit amet est. In dictum, dolor eu dictum porttitor, enim felis viverra mi, eget luctus massa purus quis odio. Etiam nulla massa, pharetra facilisis, volutpat in, imperdiet sit amet, sem. Aliquam nec erat at purus cursus interdum. Vestibulum ligula augue, bibendum accumsan, vestibulum ut, commodo a, mi. Morbi ornare gravida elit. Integer congue, augue et malesuada iaculis, ipsum dui aliquet felis, at cursus magna nisl nec elit. Donec iaculis diam a nisi accumsan viverra. Duis sed tellus et tortor vestibulum gravida. Praesent elementum elit at tellus. Curabitur metus ipsum, luctus eu, malesuada ut, tincidunt sed, diam. Donec quis mi sed magna hendrerit accumsan. Suspendisse risus nibh, ultricies eu, volutpat non, condimentum hendrerit, augue. Etiam eleifend, metus vitae adipiscing semper, mauris ipsum iaculis elit, congue gravida elit mi egestas orci. Curabitur pede.
Maecenas aliquet velit vel turpis. Mauris neque metus, malesuada nec, ultricies sit amet, porttitor mattis, enim. In massa libero, interdum nec, interdum vel, blandit sed, nulla. In ullamcorper, est eget tempor cursus, neque mi consectetuer mi, a ultricies massa est sed nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Proin nulla arcu, nonummy luctus, dictum eget, fermentum et, lorem. Nunc porta convallis pede.   
        </div>


</div>

 <div id="sidebar">
      
        <div class="widget">
        <div style="font-size: 24px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #28555B;">Your Risk Assessments</div>
          <div id="animatedResults">
            <!--Animated Bar Results-->
            <dl>
              <dt>Your Periodontal Risk Assessment</dt>
              <dd> <span><em style="left:@Model.periodental"></em></span> </dd>
              <dt>Your Diabetes Risk Assessment</dt>
              <dd> <span><em style="left:@Model.diabetic"></em></span> </dd>
              <dt>Your Sleep Apnea Risk Assessment</dt>
              <dd> <span><em style="left:@Model.sleepApnea"></em></span> </dd>
              <dt>Your Dental Decay Risk Assessment</dt>
              <dd><span><em style="left:@Model.caries"></em></span></dd>
              <dt>Your TMD Risk Assessment</dt>
              <dd><span><em style="left:@Model.tmd"></em></span></dd>
              @if (Convert.ToInt32(Model.oralCancer) > 0)
              {
              <dt>Your Oral Cancer Risk Assessment</dt>
              <div class="warning-box">Based on answers you provided you have one or more risk factors known to be associated with oral cancer. Please consult with us for further follow up. </div>
              }
            </dl>
            <!--end of animated results-->
          </div>
        </div>
      </div>